/* S-Core Dream Font - Local Version */

@font-face {
  font-family: 'S-CoreDream';
  src: url('./SCDream1.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'S-CoreDream';
  src: url('./SCDream2.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'S-CoreDream';
  src: url('./SCDream3.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'S-CoreDream';
  src: url('./SCDream4.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'S-CoreDream';
  src: url('./SCDream5.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'S-CoreDream';
  src: url('./SCDream6.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'S-CoreDream';
  src: url('./SCDream7.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'S-CoreDream';
  src: url('./SCDream8.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'S-CoreDream';
  src: url('./SCDream9.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
} 